@import 'libs/reset.scss';
@import 'libs/responsive.scss';
$medium :200px;
$primary : rgb(105, 143, 214);
$padding : 20px;

html {
    background-color: rgb(26, 23, 23);
    margin: 1rem;
    color: #FFF;
}

body{
    padding: $padding;
}
%btn{
    text-decoration: none;
    border-radius:3px ;
    padding: 5px 12px;
    color: #FFF;
}

.btn{
    @extend %btn;
    background: $primary;
    &:hover{
        background: rgb(5, 105, 151);
    }
   
}

.btn-danger{
    @extend %btn;
    background: rgb(163, 36, 36);
    &:hover{
        background: rgb(196, 1, 1);
    }
}
%shadow{
    box-shadow: 0 1px 5px rgb(0, 0, 0, 0.5);
    
}
.card{
    @extend %shadow;
    padding: 10px;
    border-radius: 3px;
}
.card-action {
    @extend .btn;
}
.card-cancel {
    @extend .btn-danger;
}

.card-actions{
    display: flex;
}

@media #{$medium-up}{
    .btn{
        width: 100%;
    }
}